{% load staticfiles %}
<html>
<head>
    <title>Zeinstein's blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="page-header">
        <div class="top-menu">
            {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu-items"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu-items"><span class="glyphicon glyphicon-edit"></span></a>
            Hello {{ user.username }} <small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}"><span class="glyphicon glyphicon-lock"></span></a>
            {% endif %}
        </div>
        <h1><a href="{% url 'blog.views.post_list' %}">Zeinstein</a></h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <p>Welcome to my new page! It's still under construction, however, feel free to read it through!</p>
                <p>This page is a playground for me. I'm trying out all the new ideas and technologies here. Now it's a django site, as I'll be a mentor at the Django Girls Budapest event, Dec 6th. Here are the files: <a href="https://github.com/Zeinstein/django_girls" target="_blank"><a/></p>
                <hr>
            </div>
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        <p><b>Zoéé,</b> 2014/2015/1.</p>
    </footer>
</body>
</html>
